:root {
  --color-text: #222;
  --color-background: #fff;
  --color-background-alternate: #fafafa;
  --color-border: #ddd;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff;
    --color-background: #000;
    --color-border: #333;
    --color-background-alternate: #0a0a0a;
  }
}
